html, body {
    width: 1280px;
    height: 720px;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Helvetica, Arial, Verdana, Sans-Serif;
    background: #151515;
}

h2 {
    margin: 5px 0;
    font-size: 20px;
    font-weight: normal;
}



#duneapi {
    position: absolute;
    top: -100%;
    left: -100%;
}

.bg {
    position: absolute;
    left : 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.wrap {
    height: 100%;
    position: relative;
    z-index: 2;

}

#smart_player {
    width: 1280px;
    height: 720px;
    z-index: 0;
}

#log {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 10;
    display: none;
}

.menu, .legend,
.scenes-wrapper {
    background-image: -webkit-linear-gradient(#151515, rgba(21, 21, 21, 0), #151515);
    background-image: -o-linear-gradient(#151515, rgba(21, 21, 21, 0), #151515);
}

.menu, .scenes-wrapper {
    top: 0;
    bottom: 35px; /*legend height*/
}

.menu-items, .scene {
    top: 40%;
}

.menu {
    margin-left: 5%;
    width: 175px;
    position: absolute;
}

.menu-items {
    list-style: none;
    vertical-align: middle;
    padding: 0;
    position: absolute;
}

.rooms-items {
    left: 175px;
}

.menu-item,
.video-item {
    width: 160px;
    color: #fff;
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
    padding: 2px 0 2px 15px;
}

.menu-item {
    line-height: 62px;
}

.menu-item.focus {
    background: #333333;
}

.video-item {
    padding-left: 35px;
}

.logo {
    margin: 20px 0 0 15px;
    width: 153px;
    height: 15px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFYAAAAMCAYAAAD4Q0pmAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2tpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDowNDgwMTE3NDA3MjA2ODExOEY2MkNDODVCQ0QwM0VCNCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0QkJCMkNGQzM0MEYxMUUzOUY1QUFGQTQyQjJCNUZENyIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0QkJCMkNGQjM0MEYxMUUzOUY1QUFGQTQyQjJCNUZENyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1OTIyYWY1Zi01ZTRlLTQwMTEtYjNmNi1kZDZjOGNkMzM3YzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MDQ4MDExNzQwNzIwNjgxMThGNjJDQzg1QkNEMDNFQjQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz50r1lJAAADAElEQVR42uxXsW7bMBCVjHRXvyDqF0RzF8tL19hfEHkrUBS1v8DxF9hGUSCbnS+wunYxs3SN+gXRH1R7B/fOvTNerqTkIO2WAwhC5JF39+7xSMX7/T56kX8v8atv3xfUTwLzg1/v3rrQYlqrWZmT3rWM7ajLqTU09lrGhtRtRfcNjdewxwN1KerLeEbdvXyOaW4Dc6z/gHNg18rBt89fbtiHNet//PC+9MTC/s/kc0lrpjKeUPdT9Wg8Dqx5JD1qw2ckRh3sw5gGlwg4OF8ZUHMBVfWHEEDF+vL5ydgtpG8Q8IDoHkwgBmlNIGcevQtPDJHFR5LaJa5HjjGDYskEM6ZR0NrYKnKHjghQkcdB7e1+VwqQ9JdmfiV9ZgLSdZsAQ2NomvyR2FFwE7MOv9Fe3+j5gHXG5qBnFLZigB0YP4GxCqoFti9HKTOJ0COmbFBbhYzj/g2yVFidGuBRztkXaUcQ6Pgzc6cKnDDYB2xjmKp93YJDAjZzLQVYLxSYEaF+MECZzantscFxrcFgDtndQAA56JfmiCVSHkpPQJH4UBqWXsGJ8gXLCdhJK3CCwGW/lqpHseDdktnyJiAlEmPtKRO4dgftD7BSC7FwuyfUWQc1Sp27hWNzadlt6mYlAYTqqbIyFbYOjQ0rtfjkOlgWkjkkGH2vT8BBW3QmR28Ll8vUZJkV45YNvwozMi0jnBjat5KxwlMGUkhCYZh1qG/KRr7EYC89vrVhP8qtvlCsEEMLeAGVFNvS3g1sF+xNIIma0HPf3lxX7atgrc+dE+tqiLGp+XYBPWRlLQyZA1Mie4SRtR1sDYq8BBbwUhifEJMmseq4vP6SM8gEs+2esoXzoxZmHOsgrXFQe34AQycB5wofu2ifC/GH6+i1ucQWcMG0PbFmtM/M3NgDIdDxYia2Np76WkHiJqaENZ7Xg+9NfwQ2VE+bLlDx+HleCg72vjMP/yoA0EodN+WAk7eSy7EKXFpVxzt2Dj8IVrcRXysoP87E5jxY1SH84pdf2v8jvwUYAEUGd2JJmRcEAAAAAElFTkSuQmCC") no-repeat;
}

.scenes-wrapper {
    position: absolute;
    left: 413px;
    width: 700px; /*body width - left*/
    padding-left: 30px;
}

.scene {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.scene_video {
    width: 380px;
}

.button {
    position: absolute;
    width: 80px;
    height: 80px;
    font-size: 38px;
    line-height: 80px;
    background: #e0ffb3;
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;*/
    border-radius: 10px;
    text-align: center;
}

.button.focus {
    background: #f23c55;
}

.button-a {
    left: 350px;
    top: 140px;
}

.button-b {
    left: 550px;
    top: 250px;
}

.button-c {
    left: 350px;
    top: 400px;
}

.scene_input {
    padding: 0 50px;
}

.input-example {
    margin: 20px 10px;
}

.input-val {
    display: inline-block;
    margin-left: 10px;
}

.navigation-items {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.navigation-item {
    float: left;
    margin: 20px;
    width: 200px;
    height: 250px;
    background: #31797d;
    font-size: 36px;
    text-align: center;
    line-height: 250px;
}

.navigation-item.focus {
    background:  #f23c55;
}

.navigation-info {
    text-align: center;
    font-size: 20px;
}

.legend {
    height: 35px;
    padding: 0;
}

.hidden {
    visibility: hidden;
    display: none;
}

.just-hidden {
    display: none;
}