<div class="bFilter jsFilters">
    <span class="eFilter_item">Favourites</span>
    <span class="eFilter_item">Rooms</span>
    <span class="eFilter_item">Types</span>
    <span class="eFilter_item">Tags</span>
    <span class="eFilter_item">All</span>
</div>