.bColumn {
  display: flex;
  width: 175px;
  min-height: 20px;
  height: 600px;
  padding-top: 200px;
  box-sizing: border-box;
  margin-right: 10px;
}

.bColumn.focus:before {
  content: '';
  display: inline-block;
  top: 300px;
  height: 60px;
  width: 175px;
  position: absolute;
  border: 3px solid #11bfea;
  box-sizing: border-box;
}

.bColumn.mThree {
  width: 460px;
  height: 90px;
}

.bColumn.mThree.focus:before {
  width: 460px;
  height: 90px;
  border-radius: 10px;
  top: 284px;
}

