.bFilter {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: 0;
}

.eFilter_item {
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  max-height: 60px;
  min-height: 60px;
  line-height: 60px;
  vertical-align: middle;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 17px;
  &.mActive {
    background: #333;
  }
}