<div class="bDevice">
    <span class="eDevice_icon icon {{getIcon model}}"></span>
    <span class="eDevice_name">{{model.metrics.title}}</span>
    <span class="eDevice_level">{{model.metrics.level}} {{model.metrics.scaleTitle}}</span>
</div>