<div class="bDevice mSwitchBinary">
    <span class="eDevice_icon icon {{model.metrics.icon}}"></span>
    <span class="eDevice_name">{{model.metrics.title}}</span>
    <div class="bSwitch">
        <input class="eSwitch_input jsInput" type="checkbox" checked="{{#if checked}}checked{{/if}}">
        <label class="eSwitch_label"></label>
    </div>
</div>