<div class="bDevice mToggleButton">
    <span class="eDevice_icon icon {{getIcon model}}"></span>
    <span class="eDevice_name">{{model.metrics.title}}</span>
    <button class="bToggle jsToggle"></button>
</div>