.bColorChooser {
  display: inline-block;
  margin-left: 5px;
}

.eColorChooser {
  margin-right: 4px;
  background: #ccc;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  display: inline-block;
  color: #000;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
}