.bHeaderContainer {
  display: flex;
}

.eHeader_logo {
  background-image: url(../assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 300px;
  margin-left: 15px;
  &.mActive {
    background-image: url(../assets/logo_active.svg);
  }
}
