.widget {
  background-repeat: no-repeat;
  background-position: 16px center;
  font-size: 21px;
  height: 64px;
  border: 3px solid transparent;
  padding-left: 80px;
  box-sizing: border-box;
  width: 100%;
  &.focus {
    border-color: #11bfea;
    height: 86px;
    border-radius: 10px;
  }
}